<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>邮件模板</title>
</head>
<body>
<span th:text="${content}"></span><br/>
<img with="230" height="230" src="https://avatars1.githubusercontent.com/u/16222145?s=460&v=4" /><br/>
tel:<a th:href="@{'tel:'+${tel}}" th:text="${tel}"></a><br/>
email:<a th:href="@{'mailto:'+${email}}" th:text="${email}" ></a><br/>
github:<a href="#" th:href="@{'https://github.com/'+${github}}" th:text="${github}"></a><br/>
blog:<a href="#" th:href="@{'http://'+${blog}}" th:text="${blog}"></a>
</body>
</html>